@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --login-bg:white;
    --title-bg: #6122FD;
    --button-bg: #0B30E3;
    --light-pink: #009AFA;
    --image-bg:  #eadbff ;
    --buton-produc:#09ADA6;
    --fondo-tabla: white;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #6122FD 0%, #009AFA 100%);
}

.productos-container {
    height: 82.75em;
    width: 87em;
    margin: 2em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.productos-info-container {
    width: 11%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 27.5rem;
    background-color: var(--login-bg);
}

.btn {
    width: 80%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 38% 62% 53% 47% / 0% 100% 0% 100%;
    background-color: var(--buton-produc);
    cursor: pointer;
    margin: 1em auto;
}

.image-producto-adicionar {
    width: 6.875rem;
    height: 5.875rem;
    position: relative;
    top: 0;
    left: 0.100rem;
}
.image-producto-eliminar {
    width: 6.875rem;
    height: 4.875rem;
    position: relative;
    top: 0;
    left: 0.100rem;
}
.image-producto-editar {
    width: 6.875rem;
    height: 5.875rem;
    position: relative;
    top: 0;
    left: 0.100rem;
}
.image-producto-info {
    width: 5.875rem;
    height: 4.875rem;
    position: relative;
    top: 0;
    left: 0.100rem;
}
.tabla-productos-container{
    width: 89%;
    background-color: white;
    padding-top: 0%;
    padding-right: 2%;
    padding-left: 2%;
}
.tabla-index-container{
    margin-top: 3%;
    margin-left: 2%;
    width: 97%;
    text-align: center;
    border: black 1px solid;
}
tr, th, td{
    border: black 1px solid;
    text-align: center;
}
.titulo-productos{
    text-align: center;
}
.main-sidebar sidebar-dark-primary elevation-2021{
    height: 48.75em;
    width: 82em;
    margin: 2em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.barra-productos{
    border-radius: 20px;
    border-bottom: black 1px solid;
    margin: 2%;
}